
.page-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-page {
  padding-top: 40px;
}

.mat-card {
    box-shadow: 0px 4px 8px -4px rgb(0 0 0 / 16%);
    border-radius: 8px;
}
