<app-page-content titulo="Cadastrar novo serviço">
  <form [formGroup]="form" class="example-form">
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea
          formControlName="descricao"
          matInput
          placeholder="Ex. Troca de óleo"
        >
        </textarea>
      </mat-form-field>
    </p>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Horas de serviço</mat-label>
      <input type="number" matInput formControlName="tempoServico" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Valor</mat-label>
      <input type="number" matInput formControlName="valor" />
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>

    <button mat-button (click)="cadastrarServico()">Cadastrar</button>
  </form>
</app-page-content>
