<app-page-content titulo ="Meus serviços">
  <div *ngIf="!isLoading">
    <table mat-table [dataSource]="this.servicos" class="mat-elevation-z8">

      <ng-container matColumnDef="dataHora">
        <th mat-header-cell *matHeaderCellDef>Dia</th>
        <td mat-cell *matCellDef="let servico">{{retornaDataHora(servico)}}</td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef>Placa</th>
        <td mat-cell *matCellDef="let servico">{{servico.carro.placa | placa}}</td>
      </ng-container>

      <ng-container matColumnDef="carro">
        <th mat-header-cell *matHeaderCellDef>Carro</th>
        <td mat-cell *matCellDef="let servico">{{retornaCarro(servico)}}</td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Servico</th>
        <td mat-cell *matCellDef="let servico">{{servico.tipoServico.descricao}}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let servico">{{servico.tipoServico.valor | currencyBrazil}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let servico">{{ servico.status.descricao}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  </app-page-content>
