<div id="app" class="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Mecânica Turbo Bayer</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/admin/equipe" class="nav-link" *ngIf="showAdminBoard" routerLink="admin/equipe">Equipe</a>
      </li>
      <li class="nav-item">
        <a href="/admin/novo-mecanico" class="nav-link" *ngIf="showAdminBoard" routerLink="admin/novo-mecanico">Cadastrar mecânico</a>
      </li>
      <li class="nav-item">
        <a href="/admin/clientes" class="nav-link" *ngIf="showAdminBoard" routerLink="admin/clientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a href="/admin/novo-servico" class="nav-link" *ngIf="showAdminBoard" routerLink="admin/novo-servico">Cadastrar serviço</a>
      </li>
      <li class="nav-item">
        <a href="/admin/servicos" class="nav-link" *ngIf="showAdminBoard" routerLink="admin/servicos">Servicos</a>
      </li>
      <li class="nav-item">
        <a href="/admin/tipos-servico" class="nav-link" *ngIf="showAdminBoard" routerLink="admin/tipos-servico">Tipos de serviço</a>
      </li>
      <li class="nav-item">
        <a href="/cliente/novo-carro" class="nav-link" *ngIf="showClienteBoard" routerLink="cliente/novo-carro">Cadastrar carro</a>
      </li>
      <li class="nav-item">
        <a href="/cliente/carros" class="nav-link" *ngIf="showClienteBoard" routerLink="cliente/carros">Meus carros</a>
      </li>
      <li class="nav-item">
        <a href="/cliente/servicos/agendar" class="nav-link" *ngIf="showClienteBoard" routerLink="cliente/servicos/agendar">Agendar serviço</a>
      </li>
      <li class="nav-item">
        <a href="/cliente/servicos/listar" class="nav-link" *ngIf="showClienteBoard" routerLink="cliente/servicos/listar">Meus serviços</a>
      </li>
      <li class="nav-item">
        <a href="/mecanico/agenda" class="nav-link" *ngIf="showMecanicoBoard" routerLink="mecanico/agenda">Agenda</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Cadastre-se</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
    <app-loader></app-loader>
  </div>
</div>
