<app-page-content titulo="Cadastrar carro">
    <form [formGroup]="form" class="form-cadastro-carro">
      <mat-form-field appearance="fill">
        <mat-label>Placa</mat-label>
        <input matInput formControlName="placa" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ano modelo</mat-label>
        <input matInput formControlName="anoModelo" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select formControlName="marca" name="marca">
          <mat-option *ngFor="let marca of marcasCarro" [value]="marca.id">
            {{ marca.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <mat-select
          [disabled]="!form.get('marca').value"
          formControlName="codigoModeloCarro"
          name="modelo"
        >
          <mat-option *ngFor="let modelo of modelosCarro" [value]="modelo.id">
            {{ modelo.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="cadastrarCarro()">Cadastrar</button>
    </form>
</app-page-content>
